active/Blog Feeds.json
{
  "name": "Blog Feeds",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        -16
      ],
      "id": "7592a9c8-85a8-4e6d-b40f-1d6d74a93744",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09TD3N716D",
          "mode": "list",
          "cachedResultName": "n8n-land"
        },
        "messageType": "block",
        "text": "={{ $json.title }}{{ $json.link }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        352,
        -16
      ],
      "id": "41d96388-86db-4998-aa23-1b8f25519c32",
      "name": "Send a message",
      "webhookId": "4dd2bedf-2f6e-45c0-aa0c-da7693b94822",
      "credentials": {
        "slackApi": {
          "id": "fjozSvW2dFFK8jwh",
          "name": "Slack Trigger"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        112,
        -16
      ],
      "id": "abc63f2d-4395-49c7-b6f7-fded3999d204",
      "name": "Limit"
    },
    {
      "parameters": {
        "url": "https://hackernoon.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -144,
        -16
      ],
      "id": "ad875fde-e553-49fa-81f0-bc3341edc19b",
      "name": "RSS Read"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0522c078-5727-4f78-88b0-a0336e19b0cf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a3f4b30d139bb4d4da62ccf6bec8aefe503a6057c743693063b0411d7afe9d0"
  },
  "id": "fOh2N5soAuw3fCNc",
  "tags": []
}