active/CV-RAG #2_ Query-Pipeline (v2.2 - Tuned).json
{
  "name": "CV-RAG #2: Query-Pipeline (v2.2 - Tuned)",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Mike Murphy. Ask my resume anything!",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        64
      ],
      "id": "37da8e56-ded1-4fd5-866e-10e3e7f1d272",
      "name": "When chat message received",
      "webhookId": "4af3ba96-799a-48b0-971c-a58777deab61"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {
          "systemMessage": "You are an AI assistant that answers questions about Mike Murphy using his resume and personal background materials.\n\nWORKFLOW:\n1. Use the query_knowledge_base tool to search the database\n2. Read the retrieved information carefully\n3. Answer the user's question based ONLY on what the tool returned\n4. If the tool returns no relevant information, say \"I don't have that information about Mike\"\n\nThe database includes:\n- Professional experience, skills, and projects\n- Tutorial series and courses Mike has created\n- Personal interests and fun facts\n- Facts about the Camino de Santiago pilgrimage\n- Background stories and accomplishments\n\nIMPORTANT: Always provide a complete answer in natural language. Never return tool names or JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -32,
        -144
      ],
      "id": "4fe9749a-886f-4e61-bc25-15e9dc114237",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cv-rag-query",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -304,
        -128
      ],
      "id": "c38f8315-716a-485d-bb59-9f9d685527b2",
      "name": "Webhook (for Streamlit)",
      "webhookId": "cv-rag-query-webhook"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search Mike Murphy's resume and personal background database for relevant information.",
        "tableName": "cv_chunks",
        "topK": 5,
        "options": {
          "columnNames": {
            "values": {
              "contentColumnName": "content"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        32,
        96
      ],
      "id": "a068220f-2fe6-4cce-8269-6d8c1a473bbc",
      "name": "Query Data Tool",
      "credentials": {
        "postgres": {
          "id": "TZKsgiv75reWBifW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"answer\": $json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        256,
        -112
      ],
      "id": "86a1768b-005d-47e1-a49b-158665f9d553",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -48,
        272
      ],
      "id": "1634e01d-c36a-4cde-8818-54edf6078e33",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "UTJsPhetajaS17pP",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:1b",
        "options": {
          "temperature": 0.3,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -192,
        208
      ],
      "id": "a3989734-bc19-4bab-8ac0-d64382c898b2",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "UTJsPhetajaS17pP",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (for Streamlit)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Data Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Query Data Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b6da1cb3-1dea-4b13-865b-05b4327c3036",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a3f4b30d139bb4d4da62ccf6bec8aefe503a6057c743693063b0411d7afe9d0"
  },
  "id": "CcVOyd9OZRTOKrZR",
  "tags": [
    {
      "updatedAt": "2025-11-05T20:36:10.321Z",
      "createdAt": "2025-11-05T20:36:10.321Z",
      "id": "UXBoTIXaXgl3iGpi",
      "name": "RAG"
    }
  ]
}