active/CV-RAG #1 _ Ingestion-Workflow.json
{
  "name": "CV-RAG #1 : Ingestion-Workflow",
  "nodes": [
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "f821fcd6-8e3f-4d1e-8787-c92386d25fd6",
      "name": "Extract Text from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -560,
        352
      ],
      "notes": "Converts binary file to text"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "id": "fdade14f-f987-4d68-886c-d1eafe988717",
      "name": "Recursive Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -1232,
        192
      ],
      "notes": "Splits resume into 500-char chunks with 50-char overlap"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "id": "a1ae9e2f-c8c8-4d03-91a6-6fc2e9a1eb09",
      "name": "Embeddings Ollama",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -1344,
        16
      ],
      "credentials": {
        "ollamaApi": {
          "id": "UTJsPhetajaS17pP",
          "name": "Ollama account"
        }
      },
      "notes": "Generates embeddings using Ollama nomic-embed-text model"
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.all();\nconst chunksProcessed = inputData.length;\n\nreturn [\n  {\n    json: {\n      success: true,\n      message: `Successfully ingested resume`,\n      chunks_created: chunksProcessed,\n      embedding_model: 'nomic-embed-text',\n      vector_store: 'Neon Postgres (pgvector)',\n      timestamp: new Date().toISOString()\n    }\n  }\n];"
      },
      "id": "dd450d58-0038-4e5d-8e16-32df07bc4a57",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "4dd9419f-12f9-46db-96db-47de820fc63f",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -704,
        -80
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "cv_chunks",
        "options": {
          "columnNames": {
            "values": {
              "contentColumnName": "content"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -1344,
        -160
      ],
      "id": "2887d955-9050-4fba-8871-afb373e79648",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "TZKsgiv75reWBifW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -1232,
        16
      ],
      "id": "d741a59a-c789-48bc-8eb5-26649e087c70",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "## CV-RAG:\nData Ingestion Workflow",
        "height": 880,
        "width": 1904,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2192,
        -368
      ],
      "typeVersion": 1,
      "id": "5dcf1a2f-fc73-4181-8c38-e2ce40878766",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## CV-RAG\nIngest Supplemental\n\n",
        "height": 240,
        "width": 464,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2080,
        208
      ],
      "typeVersion": 1,
      "id": "f48cd41f-4004-4209-835c-671a969a2eb0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## CV-RAG\nIngest Resume\n",
        "height": 272,
        "width": 464,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2080,
        -288
      ],
      "typeVersion": 1,
      "id": "9fc195ba-061c-42f2-9a58-af101df574c5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2064,
        32
      ],
      "id": "a16afa7c-c768-476b-a035-dfffdfee6f40",
      "name": "Manual Trigger_Ingestion"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/mikemurphyco/cv-rag/main/docs/cv_mike-murphy.md",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1856,
        -224
      ],
      "id": "95203333-bd9a-4e96-a08b-d66a88b2320d",
      "name": "HTTP (Resume)"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/mikemurphyco/cv-rag/refs/heads/main/docs/supplemental.md",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1808,
        240
      ],
      "id": "979eb987-2635-4388-b417-98e37220f896",
      "name": "HTTP (Supplemental)1"
    },
    {
      "parameters": {
        "content": "## On Ice\nOther nodes to swap out in case of different file types, etc",
        "height": 272,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -752,
        240
      ],
      "typeVersion": 1,
      "id": "d40550ed-a93f-466c-97e6-9f26260b5e12",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -2176,
        -64
      ],
      "id": "f9cec591-6b92-4210-81e7-183b313dec45",
      "name": "CHAT + FILES",
      "webhookId": "dc543fdd-c551-46b2-9394-2b418b1b392d"
    }
  ],
  "pinData": {},
  "connections": {
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from File": {
      "main": [
        []
      ]
    },
    "Postgres PGVector Store": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger_Ingestion": {
      "main": [
        [
          {
            "node": "HTTP (Supplemental)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP (Resume)": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP (Supplemental)1": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHAT + FILES": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "562ff149-e370-437a-b3cc-a12c7070ebc0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a3f4b30d139bb4d4da62ccf6bec8aefe503a6057c743693063b0411d7afe9d0"
  },
  "id": "fUstVhDRSzTfqoVS",
  "tags": []
}