active/ScreenFlow Chapter Converter - Python Only.json
{
  "name": "ScreenFlow Chapter Converter - Python Only",
  "nodes": [
    {
      "parameters": {
        "content": "🎬 ScreenFlow → YouTube Chapter Converter\n\nAutomatically converts ScreenFlow chapter markers to YouTube timestamp format.\n\n📥 INPUT: .mp4 files with chapter markers (Google Drive)\n📤 OUTPUT: _youtube_chapters.txt files (Google Drive)\n⏱️ PROCESSING: ~10-15 seconds per video\n\n✨ FEATURES:\n- Zero external dependencies (Python-only!)\n- No VPS storage used (memory-based)\n- Converts HH:MM:SS.mmm → MM:SS format\n- Original videos stay in Google Drive\n\n🚀 USAGE:\n1. Upload .mp4 to input folder\n2. Wait ~15 seconds\n3. Get formatted chapters in output folder",
        "height": 416,
        "width": 416,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1472,
        -608
      ],
      "typeVersion": 1,
      "id": "7d4cf11a-8d89-4534-bf7a-a596823024dd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "📁 GOOGLE DRIVE SETUP\n\nINPUT FOLDER: \"ScreenFlow Videos\"\n- Upload your exported .mp4 files here\n- Must have chapter markers from ScreenFlow\n\nOUTPUT FOLDER: \"Processed Chapters\"\n- Formatted .txt files saved here\n- Ready to copy/paste into YouTube\n\n⚙️ CREDENTIALS:\n- OAuth2 (recommended)\n- Same credential for all Google Drive nodes\n\n🔍 FOLDER IDs:\nInput:  [paste your folder ID]\nOutput: [paste your folder ID]",
        "height": 352,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3216,
        -32
      ],
      "typeVersion": 1,
      "id": "e0c546ac-890d-42e4-bdc5-b894c918cf04",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "🎯 QUICK REFERENCE\n\nWORKFLOW STATUS: [ACTIVE/INACTIVE]\nLAST SUCCESSFUL RUN: [check execution log]\n\nGOOGLE DRIVE:\nInput:  drive.google.com/drive/folders/[ID]\nOutput: drive.google.com/drive/folders/[ID]\n\nCREDENTIALS:\nGoogle OAuth2: [credential name]\n\nPROCESSING:\nVideo → Memory → Extract → Format → Upload\n\n⏱️ TYPICAL TIMING:\n- Detection: 0-60 seconds (polling)\n- Download: 5-10 seconds\n- Processing: 1-2 seconds\n- Upload: 2-3 seconds\n- TOTAL: 10-15 seconds\n\n📝 NOTES:\n[Add your custom notes here]",
        "height": 496,
        "width": 384,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1968,
        -624
      ],
      "typeVersion": 1,
      "id": "e243872a-5a20-460a-8652-d8c2fe4a223a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "🐍 PYTHON CHAPTER EXTRACTION\n\nWHAT IT DOES:\n1. Parses MP4 binary structure\n2. Finds chapter atom ('chpl')\n3. Extracts timestamps & titles\n4. Converts HH:MM:SS → MM:SS\n\nINPUT FORMAT (ScreenFlow):\n00:00:00.000 Introduction\n00:02:25.500 Main Topic\n\nOUTPUT FORMAT (YouTube):\n00:00 Introduction\n02:25 Main Topic\n\n⚡ PERFORMANCE:\n- Processes in memory (no disk I/O)\n- ~1-2 seconds execution time\n- No external dependencies",
        "height": 432,
        "width": 304,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3152,
        416
      ],
      "typeVersion": 1,
      "id": "31ce2ec0-0718-4d65-99fd-b2dc4de95cd1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "🐛 TROUBLESHOOTING\n\n❌ \"No chapter markers found\"\n→ Verify ScreenFlow export has \"Chapter Markers\" checked\n→ Confirm file is .mp4 format\n\n❌ Workflow doesn't trigger\n→ Check workflow is ACTIVE (toggle on)\n→ Verify folder ID is correct\n→ Wait 1 minute (polling interval)\n\n❌ Timestamps incorrect\n→ Check source video chapter format\n→ Verify chapters exist in ScreenFlow\n\n❌ OAuth2 error\n→ Reconnect Google Drive credential\n→ Check token hasn't expired\n\n✅ TEST MODE:\nUse small test video (~10MB) first\nCheck execution logs in n8n\nVerify output file appears in Drive",
        "height": 480,
        "width": 384,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2752,
        -112
      ],
      "typeVersion": 1,
      "id": "64566ed1-efcd-4f3c-b72a-d227a9eed396",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "📤 OUTPUT FORMAT\n\nFILENAME: {original}_youtube_chapters.txt\nEXAMPLE: my-video_youtube_chapters.txt\n\nLOCATION: [Output Folder]\nFORMAT: Plain text (.txt)\nENCODING: UTF-8\n\nCONTENT EXAMPLE:\n00:00 Introduction\n02:25 Setting Up\n05:30 Main Demo\n10:15 Conclusion\n15:00 Call to Action\n\n📋 USAGE:\nCopy entire file contents → Paste into YouTube description\n\n💡 TIP: First timestamp should always be 00:00",
        "height": 432,
        "width": 384,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2720,
        448
      ],
      "typeVersion": 1,
      "id": "5dc970b6-8665-4d99-8bec-ed1c175c8b3d",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "📊 WORKFLOW STATS\n\nNODES: 5\nEXECUTION TIME: ~10-15 seconds\nMEMORY USAGE: ~50-100MB per video\nVPS STORAGE: 0 MB (memory-only!)\n\nTESTED WITH:\n- Video sizes: 10MB - 2GB\n- Chapter counts: 3 - 50 markers\n- Success rate: 99%+\n\n⚡ OPTIMIZED:\n- No temp files\n- No disk writes\n- Parallel-ready\n- Low CPU usage",
        "height": 368,
        "width": 384,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2336,
        -64
      ],
      "typeVersion": 1,
      "id": "c18b2d68-83d5-4de6-a4a7-4c501831f1e9",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "📁 GOOGLE DRIVE SETUP\n\nINPUT FOLDER: \"ScreenFlow Videos\"\n- Upload your exported .mp4 files here\n- Must have chapter markers from ScreenFlow\n\nOUTPUT FOLDER: \"Processed Chapters\"\n- Formatted .txt files saved here\n- Ready to copy/paste into YouTube\n\n⚙️ CREDENTIALS:\n- OAuth2 (recommended)\n- Same credential for all Google Drive nodes\n\n🔍 FOLDER IDs:\nInput:  [paste your folder ID]\nOutput: [paste your folder ID]",
        "height": 352,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2176,
        496
      ],
      "typeVersion": 1,
      "id": "8dc73932-6ee1-4c1b-abc7-ee46f4cf1310",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1E6uJuklrP8VCL01wEGl2F6NHoDjCfIjC",
          "mode": "list",
          "cachedResultName": "SF CHAPTERS",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1E6uJuklrP8VCL01wEGl2F6NHoDjCfIjC"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "93329c6c-4ca6-45a6-808e-c96fddcd5649",
      "name": "Watch Google Drive Folder1",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -928,
        128
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tR6LC31n7HlHd5zt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "a377e8cc-50ca-430f-8e96-93950557caa2",
      "name": "Download Video from Drive1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -704,
        128
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tR6LC31n7HlHd5zt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import struct\\nimport re\\n\\ndef convert_timestamp(timestamp):\\n    match = re.match(r'(\\\\\\\\d{2}):(\\\\\\\\d{2}):(\\\\\\\\d{2})(?:\\\\\\\\.\\\\\\\\d+)?', timestamp)\\n    if match:\\n        hours, minutes, seconds = match.groups()\\n        total_minutes = int(hours) * 60 + int(minutes)\\n        return f\\\"{total_minutes:02d}:{seconds}\\\"\\n    return timestamp\\n\\ndef find_atom(data, atom_type, offset=0):\\n    while offset < len(data) - 8:\\n        size = struct.unpack('>I', data[offset:offset+4])[0]\\n        atype = data[offset+4:offset+8]\\n        if atype == atom_type:\\n            return offset, size\\n        if size == 0 or size == 1:\\n            break\\n        offset += size\\n    return None, None\\n\\ndef extract_chapters_from_mp4(binary_data):\\n    chapters = []\\n    moov_offset, moov_size = find_atom(binary_data, b'moov')\\n    if moov_offset is None:\\n        return None\\n    moov_data = binary_data[moov_offset:moov_offset+moov_size]\\n    udta_offset, udta_size = find_atom(moov_data, b'udta', 8)\\n    if udta_offset is None:\\n        return None\\n    udta_data = moov_data[udta_offset:udta_offset+udta_size]\\n    chpl_offset, chpl_size = find_atom(udta_data, b'chpl', 8)\\n    if chpl_offset is None:\\n        return None\\n    chpl_data = udta_data[chpl_offset+8:chpl_offset+chpl_size]\\n    pos = 8\\n    if len(chpl_data) < pos + 1:\\n        return None\\n    chapter_count = struct.unpack('>B', chpl_data[pos:pos+1])[0]\\n    pos += 1\\n    for i in range(chapter_count):\\n        if pos + 8 > len(chpl_data):\\n            break\\n        timestamp_raw = struct.unpack('>Q', chpl_data[pos:pos+8])[0]\\n        pos += 8\\n        if pos + 1 > len(chpl_data):\\n            break\\n        title_len = struct.unpack('>B', chpl_data[pos:pos+1])[0]\\n        pos += 1\\n        if pos + title_len > len(chpl_data):\\n            break\\n        title = chpl_data[pos:pos+title_len].decode('utf-8', errors='ignore')\\n        pos += title_len\\n        seconds = timestamp_raw / 10000000.0\\n        hours = int(seconds / 3600)\\n        minutes = int((seconds % 3600) / 60)\\n        secs = int(seconds % 60)\\n        millis = int((seconds % 1) * 1000)\\n        time_str = f\\\"{hours:02d}:{minutes:02d}:{secs:02d}.{millis:03d}\\\"\\n        chapters.append(f\\\"{time_str} {title}\\\")\\n    return chapters\\n\\nall_items = _input.all()\\nbinary_data = all_items[0]['binary']['data']\\noriginal_name = all_items[0]['json'].get('name', 'video.mp4')\\nchapters_raw = extract_chapters_from_mp4(binary_data)\\n\\nif chapters_raw:\\n    output_lines = []\\n    for chapter_line in chapters_raw:\\n        match = re.match(r'([\\\\\\\\d:\\\\\\\\.]+)\\\\\\\\s+(.+)', chapter_line.strip())\\n        if match:\\n            timestamp, title = match.groups()\\n            new_timestamp = convert_timestamp(timestamp)\\n            output_lines.append(f\\\"{new_timestamp} {title}\\\")\\n    formatted_chapters = '\\\\\\\\n'.join(output_lines)\\nelse:\\n    formatted_chapters = \\\"No chapter markers found in this video.\\\"\\n\\nreturn [{\\n    \\\"json\\\": {\\n        \\\"formatted_chapters\\\": formatted_chapters,\\n        \\\"original_filename\\\": original_name,\\n        \\\"output_filename\\\": original_name.replace('.mp4', '_youtube_chapters.txt'),\\n        \\\"chapters_found\\\": len(output_lines) if chapters_raw else 0\\n    }\\n}]"
      },
      "id": "8f321e27-dd56-4a22-9c8b-c825f129a927",
      "name": "Extract & Format Chapters (Python)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        128
      ]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "formatted_chapters",
        "options": {
          "fileName": "={{ $json.output_filename }}"
        }
      },
      "id": "61f25cf2-6480-4919-86f1-5ce7cd497fb9",
      "name": "Convert to File1",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -256,
        128
      ]
    },
    {
      "parameters": {
        "name": "={{ $json.output_filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1E6uJuklrP8VCL01wEGl2F6NHoDjCfIjC",
          "mode": "list",
          "cachedResultName": "SF CHAPTERS",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1E6uJuklrP8VCL01wEGl2F6NHoDjCfIjC"
        },
        "options": {}
      },
      "id": "0df7c2e0-0958-4913-a2e2-b3cf05393e09",
      "name": "Upload to Google Drive1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -48,
        128
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tR6LC31n7HlHd5zt",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Watch Google Drive Folder1": {
      "main": [
        [
          {
            "node": "Download Video from Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video from Drive1": {
      "main": [
        [
          {
            "node": "Extract & Format Chapters (Python)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Format Chapters (Python)1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Upload to Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "df1586db-da05-475d-8860-60bc1db409e9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a3f4b30d139bb4d4da62ccf6bec8aefe503a6057c743693063b0411d7afe9d0"
  },
  "id": "YHtrkuuyYcyUsMe6",
  "tags": []
}