active/Slack - n8n.json
{
  "name": "Slack - n8n",
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "channelId": {
          "__rl": true,
          "value": "C09TD3N716D",
          "mode": "list",
          "cachedResultName": "n8n-land"
        },
        "options": {
          "userIds": [
            "U09T4FY9H60"
          ]
        }
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -1184,
        -80
      ],
      "id": "f0f96771-3b82-432b-842f-5772c4a2eb5a",
      "name": "Slack Trigger",
      "webhookId": "99544cee-3a3f-431d-bb94-f5d4529ab66e",
      "credentials": {
        "slackApi": {
          "id": "fjozSvW2dFFK8jwh",
          "name": "Slack Trigger"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09TD3N716D",
          "mode": "list",
          "cachedResultName": "n8n-land"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -608,
        -80
      ],
      "id": "11768f12-8d12-480a-8ce6-2d56ec8bdf04",
      "name": "Send a message",
      "webhookId": "05666bb7-55d0-4ba9-b94f-17593e129edc",
      "credentials": {
        "slackApi": {
          "id": "RSYeOJRLoWXM0isF",
          "name": "Slack Message"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -960,
        -80
      ],
      "id": "edb79b05-daf5-4e5f-af52-a22d5049cdd6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -960,
        128
      ],
      "id": "be05ce25-b0ab-49b9-aa1f-3c8e0eea596c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "NbLC7fhLKvV2xfme",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Slack + n8n\n**Step 1:** Slack Channel + App\n**Step 2:** OAuth + Permissions (Scopes)\n**Step 3:** Set Credentials\n**Step 4:** Event Subscriptions\n**Step 5:** Add SlackBot to Channel\n**Step 6:** n8n Workflow\n\nhttps://docs.n8n.io/integrations/builtin/credentials/slack/#scopes",
        "height": 256,
        "width": 304,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1536,
        -128
      ],
      "typeVersion": 1,
      "id": "7946eb10-0c26-40c9-a772-2c1348dc766d",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2511ffcf-f277-4ef7-9220-83601ca320e0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a3f4b30d139bb4d4da62ccf6bec8aefe503a6057c743693063b0411d7afe9d0"
  },
  "id": "ojmHvDXL9Hh9J6rj",
  "tags": []
}