active/Surprise Me - Telegram Random Content Bot (1).json
{
  "name": "Surprise Me - Telegram Random Content Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "9f2a3504-f289-45d7-8d6f-79c16fbcba17",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -656,
        64
      ],
      "webhookId": "0b942af2-be36-4214-bd34-51190e39368d",
      "credentials": {
        "telegramApi": {
          "id": "ylH516mE9kFYzyua",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cc46f2a1-f40d-4db7-bfe5-38be38d0ec65",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals",
                "singleValue": true
              },
              "leftValue": "={{ $json.message.text ? $json.message.text.toLowerCase() : '' }}",
              "rightValue": "surprise me"
            }
          ]
        },
        "options": {}
      },
      "id": "18e4a23a-8ae8-4445-b292-703f0f532a41",
      "name": "Is 'surprise me' Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -432,
        64
      ]
    },
    {
      "parameters": {
        "functionCode": "// Define arrays of different types of content\nconst cornyJokes = [\n  \"Why don't scientists trust atoms? Because they make up everything!\",\n  \"I told my wife she was drawing her eyebrows too high. She looked surprised.\",\n  \"What do you call a fake noodle? An impasta!\",\n  \"Why did the scarecrow win an award? Because he was outstanding in his field!\",\n  \"Why don't eggs tell jokes? They'd crack each other up.\",\n  \"What's the best time to go to the dentist? Tooth-hurty!\",\n  \"How do you organize a space party? You planet!\",\n  \"Why don't skeletons fight each other? They don't have the guts.\",\n  \"What do you call a parade of rabbits hopping backwards? A receding hare-line.\",\n  \"What's brown and sticky? A stick!\"\n];\n\nconst puns = [\n  \"I'm on a seafood diet. Every time I see food, I eat it.\",\n  \"I wondered why the baseball was getting bigger. Then it hit me.\",\n  \"I used to be a baker, but I couldn't make enough dough.\",\n  \"When life gives you melons, you're dyslexic.\",\n  \"It's hard to explain puns to kleptomaniacs because they always take things literally.\",\n  \"Time flies like an arrow. Fruit flies like a banana.\",\n  \"A bicycle can't stand on its own because it's two-tired.\",\n  \"The future, the present, and the past walked into a bar. It was tense.\",\n  \"I wasn't originally going to get a brain transplant, but then I changed my mind.\",\n  \"A backward poet writes inverse.\"\n];\n\nconst inspirationalQuotes = [\n  \"The only way to do great work is to love what you do. - Steve Jobs\",\n  \"Believe you can and you're halfway there. - Theodore Roosevelt\",\n  \"It does not matter how slowly you go as long as you do not stop. - Confucius\",\n  \"You are never too old to set another goal or to dream a new dream. - C.S. Lewis\",\n  \"The future belongs to those who believe in the beauty of their dreams. - Eleanor Roosevelt\",\n  \"Everything you've ever wanted is on the other side of fear. - George Addair\",\n  \"Success is not final, failure is not fatal: It is the courage to continue that counts. - Winston Churchill\",\n  \"The only limit to our realization of tomorrow is our doubts of today. - Franklin D. Roosevelt\",\n  \"In the middle of difficulty lies opportunity. - Albert Einstein\",\n  \"Don't watch the clock; do what it does. Keep going. - Sam Levenson\"\n];\n\nconst funFacts = [\n  \"Honey never spoils. Archaeologists have found pots of honey in ancient Egyptian tombs that are over 3,000 years old and still perfectly good to eat.\",\n  \"Octopuses have three hearts and blue blood.\",\n  \"The shortest war in history was between Britain and Zanzibar on August 27, 1896. Zanzibar surrendered after 38 minutes.\",\n  \"A group of flamingos is called a 'flamboyance'.\",\n  \"The average person will spend six months of their life waiting at red lights.\",\n  \"A day on Venus is longer than a year on Venus. It takes 243 Earth days to rotate once on its axis, but only 225 Earth days to go around the Sun.\",\n  \"The fingerprints of koalas are so similar to humans that they have on occasion been confused at crime scenes.\",\n  \"Cows have best friends and get stressed when they're separated.\",\n  \"A cockroach can live for several weeks without its head.\",\n  \"The Hawaiian alphabet only has 12 letters.\"\n];\n\n// Choose content type randomly\nconst contentTypes = ['joke', 'pun', 'quote', 'fact'];\nconst randomType = contentTypes[Math.floor(Math.random() * contentTypes.length)];\n\n// Choose random content based on the selected type\nlet content, contentTypeName;\nswitch(randomType) {\n  case 'joke':\n    content = cornyJokes[Math.floor(Math.random() * cornyJokes.length)];\n    contentTypeName = \"Corny Joke\";\n    break;\n  case 'pun':\n    content = puns[Math.floor(Math.random() * puns.length)];\n    contentTypeName = \"Pun\";\n    break;\n  case 'quote':\n    content = inspirationalQuotes[Math.floor(Math.random() * inspirationalQuotes.length)];\n    contentTypeName = \"Inspirational Quote\";\n    break;\n  case 'fact':\n    content = funFacts[Math.floor(Math.random() * funFacts.length)];\n    contentTypeName = \"Fun Fact\";\n    break;\n}\n\n// Create the response message\nconst response = `🎁 *${contentTypeName}* 🎁\\n\\n${content}`;\n\n// Return the data\nreturn [\n  {\n    json: {\n      chatId: $input.item.json.message.chat.id,\n      response: response\n    }\n  }\n];"
      },
      "id": "f6178f0d-91d2-43a8-ad88-0412479d6ed0",
      "name": "Generate Random Content",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -208,
        -48
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Sorry, I don't understand that command. Send me 'surprise me' to get a random joke, pun, inspirational quote, or fun fact!",
        "additionalFields": {}
      },
      "id": "276703b4-7e79-4632-88b3-ace7f1f23b72",
      "name": "Send Help Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -208,
        160
      ],
      "webhookId": "11ce5797-6b0c-400d-8159-b7e790506957",
      "credentials": {
        "telegramApi": {
          "id": "ylH516mE9kFYzyua",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.response }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": "={{ false }}",
          "parse_mode": "Markdown",
          "reply_to_message_id": {
            "__rl": true,
            "value": "={{ $node[\"Telegram Trigger\"].json.message.message_id }}",
            "mode": "expression"
          }
        }
      },
      "id": "e8cb2db0-3ad3-4181-b772-71b041b8f0b2",
      "name": "Send Surprise Content",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        16,
        -48
      ],
      "webhookId": "189f988f-a4d7-41ee-b06b-8e877f69f734",
      "credentials": {
        "telegramApi": {
          "id": "ylH516mE9kFYzyua",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Is 'surprise me' Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is 'surprise me' Command?": {
      "main": [
        [
          {
            "node": "Generate Random Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Help Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Random Content": {
      "main": [
        [
          {
            "node": "Send Surprise Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fadc0fcd-3d46-4a8f-a96b-7c9f7c1aab10",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a3f4b30d139bb4d4da62ccf6bec8aefe503a6057c743693063b0411d7afe9d0"
  },
  "id": "rntgwxTHlYYSblUW",
  "tags": []
}