active/YouTube API Key Test (Webhook + Telegram).json
{
  "name": "YouTube API Key Test (Webhook + Telegram)",
  "nodes": [
    {
      "parameters": {
        "chatId": "6708539136",
        "text": "={{$json[\"text\"]}}",
        "additionalFields": {}
      },
      "id": "6bec0f8e-41f2-49bc-9f98-8c1e08047a24",
      "name": "Telegram: Send Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        192,
        -192
      ],
      "webhookId": "f2ea3a31-8c4d-4666-8409-ab9a9650bb69",
      "credentials": {
        "telegramApi": {
          "id": "ylH516mE9kFYzyua",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "path": "youtube-api-test",
        "options": {}
      },
      "id": "26b8bfb3-2233-4577-b320-ce0c061c8220",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -560,
        -192
      ],
      "webhookId": "ad70a19e-6e01-4c9c-a764-35a001622001"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "order",
              "value": "date"
            },
            {
              "name": "maxResults",
              "value": "1"
            },
            {
              "name": "key",
              "value": "=={{$env.YOUTUBE_API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "d974634d-e598-42ca-892d-9fc013061c6e",
      "name": "YouTube Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -304,
        -192
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "485be88f-8181-41a0-8bf5-455080d0f265",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        448,
        -192
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "faeac28d-7269-4184-991c-f0b225d92cd8",
      "name": "Set: Latest Title1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -64,
        -192
      ]
    },
    {
      "parameters": {
        "resource": "__CUSTOM_API_CALL__"
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        96,
        96
      ],
      "id": "3c3fef6c-79ae-478c-a02e-d96019cd79e0",
      "name": "YouTube"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram: Send Message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "YouTube Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Request": {
      "main": [
        [
          {
            "node": "Set: Latest Title1",
            "type": "main",
            "index": 0
          },
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Latest Title1": {
      "main": [
        [
          {
            "node": "Telegram: Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fc5b9ad1-48aa-4e98-8103-16b46b5aaeb5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a3f4b30d139bb4d4da62ccf6bec8aefe503a6057c743693063b0411d7afe9d0"
  },
  "id": "IoMmnWHBmBk0zLBo",
  "tags": []
}