active/YouTube Feeds.json
{
  "name": "YouTube Feeds",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        0
      ],
      "id": "3738eef4-13ed-465d-b1ca-0b0f78af4ff6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b35ca977-0f53-4333-8c99-dc7d20f5790b",
              "name": "YouTube Channel IDs",
              "value": "[\"UCR5rZKebRCjoN0Lq6ivGW1g\", \"UCMwVTLZIRRUyyVrkjDpn4pA,\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        0
      ],
      "id": "abd10a06-67a6-41f5-a1c1-388c015b9940",
      "name": "Edit Fields",
      "notesInFlow": true,
      "notes": "Add Multiple RSS Feeds using Array"
    },
    {
      "parameters": {
        "fieldToSplitOut": "['YouTube Channel IDs'],",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        160,
        0
      ],
      "id": "cb353123-f80a-48c3-ad06-e0d747663f83",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "=https://youtube.com/feeds/videos.xml?channel_id= {{ $json['[\\'YouTube Channel IDs\\']'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        368,
        0
      ],
      "id": "7387fb6f-a503-41f7-9030-058f5a8d888f",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c5d78299-059c-4858-bc0e-d42202587eab",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        576,
        0
      ],
      "id": "49eb617e-9d79-4007-b1b6-80f3b8daf02d",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cb70eced-6848-41a1-960b-575c7e88bf4f",
  "meta": {
    "instanceId": "7a3f4b30d139bb4d4da62ccf6bec8aefe503a6057c743693063b0411d7afe9d0"
  },
  "id": "rIe8eqAKleEI4P2V",
  "tags": []
}